*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* header section */
.header{
    width: 100%;
    height: 100%;
}
.nav{
    display: flex;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    z-index: 1;

}
.logo{
    flex: 1;
    text-decoration: none;
    padding: 13px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#logo-drop{
    color: #ff6600;
    font-size: 12px;
    font-weight: bolder;
    cursor: pointer;
}
.navitem1{
    flex: 5;
}
.navitem2{
    flex: 2; 
}
.navitem1 ul{
    list-style: none;
    text-decoration: none;
    padding: 15px;

}
.navitem1 ul li{
    color: black;
    display: inline;   
}
.navitem1 ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 7px;
    font-size: 15px;
} 
.navitem1 a:hover{
    color: orangered;
}
.navitem1 li:after{
    content: '';
    margin: auto;
    display: inline;
    height: 2px;
    width: 0%;
    transition: all 0.5s ease-in-out;
}
.navitem1 li:hover:after{
    width: 100%;
    background-color: #ff6600;
}
.btn1{
    background-color: #ff6600;
    color: white;
    font-weight: bold;
    font-size: 13px;
    padding: 15px 20px 10px 10px;
    margin: 10px;
    border: 2px solid #ff6600;
    transition-duration: 0.4s;
}

.btn1:hover{
    background-color: white;
    color:black;
}
#nav_up{
    border: 1px solid  rgb(237, 199, 130);
    border-radius: 100px;
    background-color: rgb(237, 199, 130);
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 630px;
}
#nav_up i{
    margin: 15px;
    font-size: 20px;
    color: white;
}

/* slide1 */
.duke{
    flex: 1;
    position: relative; 
    line-height: 20px;
    display: cover;
} 
.firstimage{
    display: cover;
    width: 100%;
    height: 100%;
}
.btn2{
    background-color: #ff6600;
    color: white;
    font-weight: bold;
    font-size: 13px;
    padding: 14px 40px;
    margin: 10px;
    border: 2px solid #ff6600; 
    transition-duration: 0.4s;
    
}
.btn2:hover{
    color: black;
    background-color: white;
} 
.btn3{
    background-color: transparent;
    color: black;
    font-weight: bold;
    font-size: 13px;
    padding: 14px 45px;
    margin: 10px;
    border: 2px solid white;
    transition-duration: 0.4s;
}
.btn3:hover{
    color: white;
    background-color: #ff6600;
    border: #ff6600;
} 
.spn1{
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}
.para{
    font-weight: bolder;
    font-size: 50px; 
    line-height: 50px; 
    font-family:sans-serif;
}
.discription{
    padding-bottom: 50px;
    text-align:left;
    position: absolute;
    bottom:150px ;
    left: 100px;
    
}
.butn{
    padding-top:50px ;
}

/*  features */ 
.features2{
    display: flex;
    background-color:rgb(255, 255, 255);
    font-size: 16px;
    width: 100%;
    height: 130px;
    padding: 20px;
}
.feature1{
    display: flex;
    flex: 1;
}
.feature2{
    display: flex;
    flex: 1;
}
.feature3{
    display: flex;
    flex: 1;
}
.feature4{
    display: flex;
    flex: 1;
}
.icon1{
    border: 1px solid rgb(237, 235, 235);
    border-radius: 50%;
    background-color: white; 
    width: 60px;
    height: 60px;
}
.icon1:hover{
    box-shadow:rgba(0, 0, 0, 0.08) 0px 15px 20px 0px;
}
.img1{
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 15px;
    width:70px;
}
.img2{
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 15px;
    width:70px;
}
.img3{
    padding-left: 20px;
    padding-right: 25px;
    padding-top: 15px;
    width:70px;
}
.img4{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    width:60px;
} 
.spn2{
    font-weight: bold;
    font-size: 15px;
}
.p1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* form1 section */
.form1{
    display: flex;
    width: 100%;
    height: 100px;
    background-image:linear-gradient(lightgray,white) ;
    padding: 30px; 
}
.fname ul li{
    display: inline;
    
}
.fname a{
    color: black;
}

.fname a:link{
    list-style: none;
    text-decoration: none;    
}

#greater{
    color: orangered;
}

.fname1{
    color: #ff6600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    align-items: center;
    margin-left: 550px;
    margin-top: 25px;
} 

/* main form section */
 .forms{
    width: 100%;
    height: 350px;
    background-image:linear-gradient(#f8f8f8,white) ;
}
.enqu{
    color: black;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
} 
.head{
    padding-top: 40px;
    padding-left: 50px;
}
#form-icon{
    font-size: 20px;
    color: #ff6600;
   
}
.dform1{
    padding-left: 30px;
}
.dform1 li{
    list-style: none;
    display: inline-block;
    padding-top: 25px;
    padding-left: 20px;
}
.dform2{
    padding-left: 30px;
}
.dform2 li{
    list-style: none;
    display: inline-block;
    padding-top: 25px;
    padding-left: 20px;
}
.verify{
    color: #ff6600;
    text-decoration: underline;
}
.form{
    display: flex;
}
.form-part1{
    flex: 1;
    padding-top: 40px;
    padding-left: 70px;
}
#check{
    font-size: 12px;
}
.form-part2{
    flex: 1;
}
.terms{
    color: #ff6600;
}
#submit{
    border-radius: 5px solid orange;
}
input[type=text] {
    width: 100%;
    margin-left: 15px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid lightgray;
  }
input[type=number] {
    width: 100%;
    margin-left: 15px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid lightgray;
}
form{
    display: flex;
    align-items: center;
}
.left{
    font-size: 30px;
}

select{
    width: 100%;
    margin-left: 15px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid lightgray;
}
input[type=submit]{
    background-color: #ffd1b2;
    border: 2px solid #ffd1b2;
    font-weight: bolder;
    border-radius: 25px;
    color: white;
    padding: 10px 32px;
    margin: 4px 2px;
    cursor: pointer;
}
.form-part2{
    flex: 1;
    margin-left: 300px;
    justify-content: space-between;
}

.form3{
    display: flex;
    align-items: center;
}
/* engine section start */
 .mainengine{
    width: 100%;
    height: 600px;
    padding: 50px;
}
.engimg{
    width: 100%;
    height: 400px;
    flex:1;
    padding-left: 110px;
}
.engtext{
    flex: 1;
}
.engine{
display: flex;
}
.spirit{
    color: #ff6600;
} 
.sharp{
    font-weight: bolder;
    font-size: 40px;
}
.engtext1{
    font-family:sans-serif ;
    padding-left: 100px;
    padding-top: 30px;
}
.frame{
    padding-top: 50px;
}
.splitdis{
    color:gray;
    padding-top: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.page{
    width: 100%;
    height: 100px;
} 
.pgn1 a{
    text-decoration: none;
    font-size: 70px;
    color: gray;
}
.pagination1{
    padding-left: 180px;
}
.arrow{
    padding: 100px 0px 0px 100px;
}
/* <!-- streetfighter section --> */
.mainstyle{
    width: 100%;
    height: 600px;
    padding: 70px;
    margin-top: 50px;
}

.splitimg{
    width: 100%;
    height: 400px;
    flex:1;
}
.splittext{
    flex: 1;
}
.splitsteel{
display: flex;
}
.perf{
    color: #ff6600;
}
.fire{
    font-weight: bolder;
    font-size: 40px;
}
.splittext1{
    font-family:sans-serif ;
    padding-left: 100px;
    padding-top: 30px;
} 
.race{
    padding-top: 50px;
}
.racedis{
    color:gray;
    padding-top: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.imgsplit{
    height: 470px;
}
.page{
    width: 100%;
    height: 100px;
} 
/* supermoto section */
.mainsuper{
    width: 100%;
    height: 500px;
    padding: 90px;
}
.superimg{
    width: 100%;
    height: 400px;
    flex:1;
}
.suptext{
    flex: 1;
}
.supermoto{
display: flex;
}
.arsenal{
    color: #ff6600;
}
.more{
    font-weight: bolder;
    font-size: 40px;
}
.sutext1{
    font-family:sans-serif ;
    padding-left: 100px;
    padding-top: 30px;
}
.abs{
    padding-top: 50px;
}
.superdis{
    color:gray;
    padding-top: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.page{
    width: 100%;
    height: 100px;
} 
.pagination3{
    padding-left: 260px;
}

/* handlebar section */
.handlebar{
    width: 100%;
    height: 600px;
    padding: 70px;
    margin-top: 50px;
}
.handleimg{
    width: 100%;
    height: 400px;
    flex:1;
}
.handletext{
    flex: 1;
}
.handle{
display: flex;
}
.razor{
    color: #ff6600;
}
.maximum{
    font-weight: bolder;
    font-size: 40px;
}
.handletext1{
    font-family:sans-serif ;
    padding-left: 100px;
    padding-top: 30px;
}
.hnd{
    padding-top: 50px;
}
.handledis{
    color:gray;
    padding-top: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.page{
    width: 100%;
    height: 100px;
} 
.pgn2 a{
    text-decoration: none;
    font-size: 70px;
    color: gray;
}
.pagination2{
    margin-left: 970px;
}

.handleimg{
    padding-left: 40px;
}
.imghandle{
    height: 470px;
}
/* price section starts */
.priceSec{
    width: 100%;
    height: 600px;
    margin-top: 30px;
}
.price-sec{
    background-color:whitesmoke;
    margin:0px 120px 0px 120px ;
}
.priceTop{
    background-color: #ebebeb;
}
.priceHead{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
    padding-left: 50px;
    padding-top: 50px;

}
.priceBody{
    background-color: #ebebeb;
}
.price1{
    padding-left: 50px;
    padding-top: 30px;
    line-height: 27px;
    font-family: sans-serif;
    position: relative;
}
.amt{
    font-size: 25px;
    font-weight: bold;
}
#rupees{
    font-size: 25px;
}
.price2{
    padding-top: 30px;
    line-height: 27px;
    font-family: sans-serif;
 
}
.price3{
    position: absolute;
    top: 0px;
    right: 10px;
}
.price3Image{
    transform: translateX(100px);
    opacity: 0;
}
.price1:hover .price3Image{
    animation: bike 1s ease-in forwards;
}
@keyframes bike {
    form{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.Overview{
    padding-left: 50px;
}
.list{
    padding-left: 65px;
    line-height: 30px;
}

.price3{
    margin-left: 700px;
}
.btn-details{
    color: black;
    font-weight: bold;
    font-size: 13px;
    padding: 14px 40px;
    margin: 10px;
    border: 2px solid orangered; 
    transition-duration: 0.4s;
}
.btn-details:hover{
    color: white;
    background-color: orangered;
    border: orangered;
} 
.btn-brochure{
    color:black;
    font-weight: bold;
    font-size: 13px;
    padding: 14px 40px;
    margin: 10px;
    width: 295px;
    border: 2px solid orangered; 
    transition-duration: 0.4s;
}
.btn-brochure:hover{
    color: white;
    background-color: orangered;
    border: orangered;
} 
.pgn1 a{
    text-decoration: none;
    font-size: 70px;
    color: gray;
}
.pagination1{
    margin-left: 250px;
}

/* color section starts */
.color{
    width: 100%;
    height: 500px;
    background-color: black;
}
.color-sec{
    display: flex;
}
.cImg{
    margin-left: 200px;
}
.clr-duke{
    color: white;
    font-family: sans-serif;
    line-height: 30px;
    margin-top: 100px;
}
.clr-dis{
    color: white;
    font-family: sans-serif;
    padding-top: 5px;
}
.btn-clr{
    color:black;
    font-weight: bold;
    font-size: 13px;
    padding: 14px 40px;
    margin-top: 30px;
    border: 2px solid gray; 
    background-color: lightgray;
}
#orange{
   color: orangered;
   font-size: 25px;
}
.elec{
    color: white;
    padding-left: 100px;
    padding-top: 30px;
}
.color-selector{
    flex: 1;
    margin-left: 100px;
    padding-top: 20px;
}
.color-img{
    flex: 1;
}
.blank{
    width: 100%;
    height: 140px;
    background-color: white;
}
/* footer1 section starts */
.footer{
    width: 100%;
    height: 120px;
    background-color: black;
}
.flw{
    color: white;
    font-family: sans-serif;
    margin-left: 1100px;
    padding-top: 25px;
}
.flw1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 270px;
    margin-top: 10px;
}
.facebook{
    background-color: white;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.facebook i{
    margin: 8px 5px 5px 12px;
    font-size: 25px;
}
.instagram{
    background-color: white;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    
}
.instagram i{
    margin: 8px 5px 5px 10px;
    font-size: 25px;
}
.youtube{
    background-color: white;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    margin-right: 10px;

}
.youtube i{
    margin: 8px 5px 5px 7px;
    font-size: 25px;
}

/* footer1 section end */

/* main footer section starts */
.mainFooter{
    width: 100%;
    height: 500px;
}
.topftr{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
} 

 .topftr1{
    padding-left: 150px;
}
.topftr2{
    padding-left: 80px;
}
.topftr3{
    padding-left: 80px;
}
.topftr4{
    padding-left: 140px;
}

.ftrHead{ 
    font-family: sans-serif;
}
.ftr1Head{
    font-family: sans-serif;
    color: gray;
    font-size: 15px;
}
.ftr1Content li{
    list-style: none;
    font-family: sans-serif;
    cursor: pointer;
}
.ftr1Content li:hover{
    color: #ff6600;
}

.ftr2Content li{
    list-style: none;
    font-family: sans-serif;
    color: gray;
    font-size: 15px;
    cursor: pointer;
}
.ftr2Content li:hover{
    color: #ff6600;
}
.ftr1Content{
    padding-top:20px ;
    line-height: 30px;
}
.ftr2Content{
    line-height: 30px;
    padding-left: 90px;
} 